<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome <%= @name %></h1>
    <p>
      Your interview has been updated for <%= @date %> with starting time <%= @start_t %> and ending time <%= @end_t %><br>
    </p>
    
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>